@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input class="form-control" type="text" id="id" />
<input class="form-control" type="text" id="fullname" />
<input class="form-control" type="text" id="job" />

<button id="post">Personel Ekle</button>
<button id="put">Personel Güncelle</button>
@section Scripts {

    <script>
        $.ajax({
            url: "https://localhost:7212/api/personels",
            method: "GET",
            contentType: 'application/json',
            success: function (sonuc) {
                console.log(sonuc)
            }
        })
        $("#post").click(function () {

            var name = $("#fullname").val();
            var job = $("#job").val();
            var id = $("#id").val();

            $.ajax({
                url: "https://localhost:7212/api/Personels",
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                fullname:name,
                job:job}),
                success: function (res) {
                    console.log(res);
                },
                error:function(err){
                    console.log(err)
                }
                
            })
        })
        $("#put").click(function () {

            var name = $("#fullname").val();
            var job = $("#job").val();
            var id = $("#id").val();


            $.ajax({
                url: `https://localhost:7212/api/Personels/${id}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    id:1,
                    fullname: name,
                    job: job
                }),
                success: function (res) {
                    if (res.statusCode == 200) {
                        console.log(`${res.value.fullname} İsimli Personel Güncellendi.`)
                    }
                    else {
                        alert(`${res.error}`);
                    }
                },
                error: function (err) {
                    console.log(err)
                }

            })
        })
        
    </script>
}